---
import projects from './projects.json'
import GitHub from '@components/icons/GitHub.astro'
---

<section class="my-16 md:my-24 lg:mb-32">
  <h3 class="flex items-center gap-x-6 font-cursive text-2xl">
    <span class="h-px flex-1 bg-[#f7c28c] md:hidden"></span>
    Projects
    <span class="h-px flex-1 bg-[#f7c28c]"></span>
  </h3>
  <div class="mt-8 grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
    {
      projects.map(({ name, image, url, repository }) => (
        <div class="border-b border-[#3a2624]/20 pb-8 last:border-0 last:pb-0 sm:border-0 sm:p-0">
          <img
            class="w-full rounded-md shadow-xl"
            src={`/images/${image}`}
            alt=""
            width="360"
            height="225"
          />
          <div class="mt-3 flex justify-between px-1">
            <a
              class="font-medium underline-offset-2 hover:underline"
              href={url}
              target="_blank"
              rel="noreferrer"
            >
              {name}
            </a>
            <a
              class="hover:text-black"
              href={repository}
              target="_blank"
              rel="noreferrer"
            >
              <GitHub />
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
