@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  src: url('@fonts/be-vietnam-pro-latin-400-normal.woff2') format(woff2);
}

@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-weight: 500;
  src: url('@fonts/be-vietnam-pro-latin-500-normal.woff2') format(woff2);
}

@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-weight: 600;
  src: url('@fonts/be-vietnam-pro-latin-600-normal.woff2') format(woff2);
}
