{
  "arrowParens": "avoid",
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }],
  "plugins": ["prettier-plugin-astro"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none"
}
