@font-face {
  font-display: fallback;
  font-family: 'Outfit';
  font-weight: 100 900;
  src: url('/outfit.woff2') format('woff2-variations');
}

:root {
  --color-base: oklch(0.1323 0.0096 297.64);
  --color-neutral: oklch(0.9241 0.0068 295.44);
  --color-primary: oklch(0.6004 0.0319 294.15);
  --gradient: oklch(0.6549 0.2088 25.04), oklch(0.7262 0.1637 36.7),
    oklch(0.8657 0.1312 86.94);
}

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

html {
  font: 300 25% / 1.5 'Outfit', sans-serif;
  min-width: 375px;
  @media (width >= 540px) {
    min-width: 680px;
  }
}

body {
  background: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      oklch(0.1918 0.0161 290.52),
      var(--color-base)
    )
    no-repeat, var(--color-base);
  color: var(--color-neutral);
  font-size: 4.5rem;
  padding-inline: 5.5rem;
  @media (width >= 540px) {
    padding-inline: 10rem;
  }
}

main {
  margin-inline: auto;
  max-width: 250rem;
}

h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  font-size: 25rem;
  font-weight: 800;
  margin-block: 15rem 25rem;
  text-align: center;
  @media (width >= 540px) {
    font-size: 30rem;
  }
  @media (width >= 1024px) {
    font-size: 35rem;
  }
}

h2 {
  font-size: 8.5rem;
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: 12.5rem;
  @media (width >= 540px) {
    font-size: 12.5rem;
  }
}

a {
  color: inherit;
  text-underline-offset: 2px;
  &:not(:hover) {
    text-decoration: none;
  }
}

ol {
  border-image: linear-gradient(in oklab, var(--gradient), transparent) 1;
  border-image-width: 0 0 0 0.5rem;
  list-style: none;
  margin-left: 1.25rem;
  padding: 0 0 7.5rem 0;
  row-gap: 7.5rem;
  @media (width >= 540px) {
    border-image-width: 0 0.5rem 0 0;
    grid-column-start: 3;
    margin-inline: 0 1.25rem;
    text-align: right;
  }
}

li {
  padding-left: 3.75rem;
  position: relative;
  @media (width >= 540px) {
    padding-inline: 0 3.75rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  p:last-child {
    color: var(--color-primary);
  }
}

p:not(:has(strong)) {
  color: color-mix(in oklab, var(--color-neutral) 75%, transparent);
}

footer {
  font-size: 4rem;
  padding-block: 20rem 5rem;
  text-align: center;
}
