.summary {
  align-items: baseline;
  margin-block: 20rem;
  row-gap: 10rem;
  @media (width >= 640px) {
    grid-template-columns: 1fr 0.5fr 1fr;
  }
  strong {
    display: block;
  }
}

.experience {
  font-size: 10rem;
  line-height: 1.25;
  margin-top: 10rem;
  @media (width < 640px) {
    text-align: right;
  }
}

.h3 {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.marker {
  background-color: var(--color-base);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: absolute;
  inset-inline-start: -1.25rem;
  height: 3rem;
  width: 3rem;
  @media (width >= 640px) {
    inset-inline: auto -1.25rem;
  }
}
