.summary {
  align-items: baseline;
  margin-block: 20rem 15rem;
  row-gap: 10rem;
  @media (width >= 540px) {
    grid-template-columns: 1fr 0.5fr 1fr;
  }
  strong {
    display: block;
  }
}

.experience {
  font-size: 10rem;
  line-height: 1.25;
  margin-top: 10rem;
  @media (width < 540px) {
    text-align: right;
  }
}

.h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.marker {
  background-color: var(--color-base);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: absolute;
  inset-inline-start: -1.25rem;
  height: 3rem;
  width: 3rem;
  @media (width >= 540px) {
    inset-inline: auto -1.25rem;
  }
}

.txt-gradient {
  background: linear-gradient(45deg in oklab, var(--gradient));
  background-clip: text;
  color: transparent;
}

.projects {
  gap: 10rem;
  @media (width >= 540px) {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    border-radius: 3rem;
    height: auto;
    width: 100%;
  }
  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0;
  }
  a:first-child {
    font-size: 5.5rem;
    &:hover {
      text-decoration: underline;
    }
    svg {
      width: 5rem;
    }
  }
  a:last-child {
    transition: color 150ms ease;
    &:not(:hover) {
      color: var(--color-primary);
    }
    svg {
      width: 6rem;
    }
  }
}
