.summary {
  align-items: baseline;
  margin-block: 20rem;
  row-gap: 10rem;
  @media (width >= 540px) {
    grid-template-columns: 1fr 0.5fr 1fr;
  }
  strong {
    display: block;
  }
}

.experience {
  font-size: 10rem;
  line-height: 1.25;
  margin-top: 10rem;
  @media (width < 540px) {
    text-align: right;
  }
}

.h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.marker {
  background-color: var(--color-base);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: absolute;
  inset-inline-start: -1.25rem;
  height: 3rem;
  width: 3rem;
  @media (width >= 540px) {
    inset-inline: auto -1.25rem;
  }
}

.txt-gradient {
  background: linear-gradient(45deg in oklab, var(--gradient));
  background-clip: text;
  color: transparent;
}

.projects {
  gap: 10rem;
  @media (width >= 540px) {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    border-radius: 3rem;
    height: auto;
    width: 100%;
  }
  div {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0.25rem;
  }
  a {
    transition: color 150ms ease;
    text-decoration: none;
    &:hover {
      color: oklch(0.7262 0.1637 36.7);
    }
    &:first-child {
      font-size: 5.5rem;
      padding-bottom: 0.75rem;
      svg {
        width: 5rem;
      }
    }
    &:last-child svg {
      width: 6rem;
    }
  }
}
