.grid {
  display: grid;
}

.txt-sm {
  font-size: 3.5rem;
}

.lh-none {
  line-height: 1;
}

.txt-react {
  color: oklch(0.7665 0.1039 214.63);
}

.txt-next {
  color: oklch(1 0 0);
}

.txt-astro {
  color: oklch(0.5805 0.2015 26.18);
}

.txt-node {
  color: oklch(0.7311 0.1296 134.85);
}
