---
import "@fontsource-variable/noto-sans-mono";
import "@fontsource-variable/nunito";
import i18next, { t, changeLanguage } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Hero from "../../components/Hero.astro";
import Projects from "../../components/Projects.astro";

changeLanguage("en");
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{t('page.title')}</title>
    <meta name="description" content={t('page.description')} />
    <HeadHrefLangs />
  </head>
  <body>
    <main>
      <Hero />
      <Projects />
    </main>
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --color-100: 246, 246, 246;
    --color-200: 217, 202, 179;
    --color-300: 109, 152, 134;
    --color-400: 33, 33, 33;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    background-color: rgb(var(--color-100));
    color: rgb(var(--color-400));
    font-family: 'Noto Sans Mono Variable', sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
  }

  main {
    height: 100vh;
    overflow-y: auto;

    @media (min-width: 1280px) {
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;

      & > * {
        scroll-snap-align: end;
      }
    }
  }

  h3 {
    font-family: 'Nunito Variable', sans-serif;
    letter-spacing: 0.025em;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
</style>
