---
import Layout from '../components/Layout.astro'
import ProjectList from '../components/ProjectList.astro'
import Link from '../components/Link.astro'
import Experience from '../components/Experience.astro'
import IconLinkedin from '../assets/linkedin.svg'
import IconGithub from '../assets/github.svg'
---

<Layout>
  <section>
    <img src="/images/profile.webp" alt="" width="225" height="225" />
    <hgroup>
      <h1>Jhan Viloria</h1>
      <p>Desarrollador Web</p>
    </hgroup>
    <div>
      <Link url="www.linkedin.com/in/jhanviloria/" label="LinkedIn">
        <IconLinkedin />
      </Link>
      <Link url="github.com/jhanca-vm" label="GitHub">
        <IconGithub />
      </Link>
    </div>
    <Experience />
  </section>
  <ProjectList />
</Layout>

<style>
  section {
    margin-top: 80px;
    padding-top: 0;
    text-align: center;
    @media (width >= 1024px) {
      position: sticky;
      top: 124px;
    }
  }

  img {
    border-radius: 16px;
    margin: -80px auto 0;
    width: 160px;
  }

  h1 {
    border-bottom: 1px solid;
    border-image: linear-gradient(
        to right,
        transparent,
        var(--accent-color),
        transparent
      )
      1;
    color: var(--primary-color);
    display: inline-block;
    font-size: 32px;
    margin-block: 8px;
    padding-bottom: 4px;
  }

  p {
    font-weight: 600;
  }

  div {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-block: 20px 48px;
  }

  svg {
    height: 24px;
  }
</style>
