---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Experiencie from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
---

<Layout
  class="max-w-4xl mx-auto grid gap-6 md:grid-cols-2"
  title="Jhan Viloria - Desarrollador Web"
  description={'Con más de dos años de experiencia, especializado en ' +
    'tecnologías como: React, Next.js, Astro y Node.js'}
>
  <Section>
    <h1 class="mb-3 font-semibold text-2xl lg:text-3xl">
      ¡Hola! Soy Jhan Viloria, desarrollador web
    </h1>
    <p class="font-light text-balance text-neutral-200">
      Cuento con más de dos años de experiencia y me especializo en teconologías
      como: <strong>React</strong>, <strong>Next.js</strong>,
      <strong>Astro</strong> y <strong>Node.js</strong>
    </p>
  </Section>
  <Experiencie />
  <Projects />
</Layout>
