---
import kanit from '@fontsource/kanit/files/kanit-latin-300-normal.woff2?url'
import teko from '@fontsource-variable/teko/files/teko-latin-wght-normal.woff2?url'
import Hero from '../components/Hero.astro'
import Projects from '../components/Projects.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portafolio - Jhan Viloria</title>
    <meta
      name="description"
      content={'Desarrollador web con tres años de experiencia, ' +
        'especializado en React, Next.js y Astro.'}
    />
    <link rel="icon" href="/favicon.png" />
    <link rel="preload" href={kanit} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={teko} as="font" type="font/woff2" crossorigin />
  </head>
  <body
    class:list={[
      'min-h-svh bg-primary/20 bg-fixed bg-radial-[at_top_right]',
      'from-secondary/60 to-80% font-light text-default'
    ]}
  >
    <main class="mb-3 py-12 md:py-15">
      <Hero />
      <hr
        class:list={[
          'h-px max-w-5xl my-15 mx-auto border-none bg-linear-90',
          'via-default/40'
        ]}
      />
      <Projects />
    </main>
    <hr
      class="h-px max-w-5xl mx-auto border-none bg-linear-90 via-default/40"
    />
    <Footer />
  </body>
</html>
