---
import '@fontsource-variable/space-grotesk'
import '../styles/base.css'
import Hero from '../components/Hero.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'
import SocialMedia from '../components/SocialMedia.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Jhan Viloria | Frontend Developer</title>
    <meta
      name="description"
      content={"Based in Colombia, I'm a frontend developer passionate about " +
        'building accessible web apps that users love.'}
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="relative overflow-x-hidden bg-neutral text-white">
    <header class="relative pt-5 sm:pt-7 px-4 md:px-8 lg:pt-10">
      <SocialMedia class="lg:pr-8" />
    </header>
    <main>
      <div class="px-4 md:px-8 children:(mx-auto max-w-5xl)">
        <Hero />
        <Projects />
      </div>
      <Contact />
    </main>
    <footer class="px-4 bg-secondary sm:px-8">
      <SocialMedia
        class="border-t pt-10 pb-12 sm:(pt-8 pb-10) lg:(pt-12 pb-16)"
      />
    </footer>
  </body>
</html>
