---
import Form from './Form.svelte'
import Rings from './Rings.astro'
---

<section
  id="contact"
  class:list={[
    'relative overflow-x-hidden pt-15 pb-22 px-4 bg-secondary sm:pb-23',
    'lg:(pt-21 px-8)'
  ]}
>
  <div class="relative z-1 mx-auto max-w-5xl lg:(grid grid-cols-2)">
    <div class="mb-12 mx-auto max-w-111 text-center lg:(text-left ml-0)">
      <h2 class="text-10 tracking-tighter sm:text-18 lg:text-22">Contact</h2>
      <p class="mt-5 lg:mt-9">
        I would love to hear about your project and how I could help. Please
        fill in the form, and I’ll get back to you as soon as possible.
      </p>
    </div>
    <Form client:visible />
  </div>
  <Rings class="bottom-24.5 sm:(-left-92 bottom-7) lg:(-left-51 bottom-12)" />
</section>
