---
import Section from './Section.astro'
---

<Section title="Experiencia">
  <ul class="font-light leading-none text-neutral-200">
    <li class="pb-3 border-b border-neutral-600">
      <div class="flex justify-between">
        <h3 class="font-medium text-neutral-100">Desarrollador Web</h3>
        <p class="text-sm">Remoto</p>
      </div>
      <div class="flex justify-between">
        <p>Freelancer</p>
        <p class="text-sm">abr. 2023 - actualidad</p>
      </div>
    </li>
    <li class="pt-3.5">
      <div class="flex justify-between">
        <h3 class="font-medium text-neutral-100">Desarrollador Frontend</h3>
        <p class="text-sm">Remoto</p>
      </div>
      <div class="flex justify-between">
        <p>WolfPack Labs</p>
        <p class="text-sm">ago. 2022 - mar. 2023</p>
      </div>
    </li>
  </ul>
</Section>
