<div>
  <h2>Experiencia</h2>
  <ul>
    <li>
      <hgroup>
        <h3>Desarrollador Web</h3>
        <p>Remoto</p>
      </hgroup>
      <div>
        <p>Freelancer</p>
        <p>abr 2023 - actualidad</p>
      </div>
    </li>
    <li>
      <hgroup>
        <h3>Desarrollador Frontend</h3>
        <p>Remoto</p>
      </hgroup>
      <div>
        <p>WolfPack Labs</p>
        <p>ago 2022 - mar 2023</p>
      </div>
    </li>
  </ul>
</div>

<style>
  h2 {
    font-size: 24px;
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border-top: 1px solid var(--accent-color);
    font-weight: 400;
    margin-top: 16px;
    padding-top: 12px;
    & > * {
      display: flex;
      justify-content: space-between;
      &:last-child {
        margin-top: 4px;
      }
    }
  }

  h3 {
    font-size: inherit;
    font-weight: 600;
  }
</style>
