<footer>
  <p>© 2023 Jhan Viloria.</p>
</footer>

<style lang="scss">
  footer {
    font-family: system-ui;
    font-size: 1.4rem;
    padding-block: 1.6rem;
    text-align: center;

    p {
      opacity: 0.8;
    }
  }
</style>
