---
import Link from './Link.astro'
---

<footer class="-mx-5 px-5 bg-default-300 text-default-200 sm:(-mx-8 px-8)">
  <div
    class:list={[
      'py-8 max-w-250 mx-auto flex flex-col-reverse gap-y-2 items-center',
      'border-(t default-100) sm:(flex-row justify-between)'
    ]}
  >
    <p class="text-3.75">© Jhan Viloria 2023</p>
    <p class="flex justify-center gap-x-0.5em">
      <strong class="font-semibold">Contact:</strong>
      <Link class="text-primary/80 decoration-none" to="t.me/jhanca">
        t.me/jhanca
      </Link>
    </p>
  </div>
</footer>
