---
import IconGithub from '../assets/github.svg'
---

<footer class="px-6 text-sm sm:px-9 md:px-12">
  <div
    class:list={[
      'py-9 max-w-6xl mx-auto flex items-center justify-between border-t',
      'border-slate-200'
    ]}
  >
    <p class="text-slate-600">© 2026 Jhan Viloria</p>
    <a
      class="transition-colors hover:text-blue-600/80"
      href="https://github.com/jhanca-vm"
      target="_blank"
      rel="noreferrer"
      aria-label="GitHub"
    >
      <IconGithub
        class="h-5 fill-none stroke-2 stroke-current"
        aria-hidden="true"
      />
    </a>
  </div>
</footer>
