---
import Link from './Link.astro'
import GitHub from './icons/GitHub.astro'
import LinkedIn from './icons/LinkedIn.astro'
import CV from './icons/CV.astro'
---

<header
  class:list={[
    'pt-5 max-w-250 mx-auto text-center',
    'sm:(pt-7 flex items-center justify-between) lg:pr-7'
  ]}
>
  <strong class="text-2xl -tracking-0.013875em md:text-3xl">jhanca-vm</strong>
  <nav class="mt-5 sm:mt-0">
    <ul class="flex items-center justify-center gap-x-6.5">
      <li>
        <Link class="flex" to="github.com/jhanca-vm">
          <GitHub class="w-6.5" />
        </Link>
      </li>
      <li>
        <Link class="flex" to="www.linkedin.com/in/jhanviloria/">
          <LinkedIn class="w-7" />
        </Link>
      </li>
      <li>
        <Link class="flex" to="/CV.pdf">
          <CV class="w-6.5" />
        </Link>
      </li>
    </ul>
  </nav>
</header>
