---
import LinkedIn from './icons/LinkedIn.astro'
import GitHub from './icons/GitHub.astro'
import Twitter from './icons/Twitter.astro'
---

<header class="bg-[#f7c28c] p-5 shadow-sm md:px-8">
  <div class="mx-auto flex max-w-5xl items-center justify-between">
    <h1 class="font-cursive text-2xl font-semibold leading-none tracking-wide">
      Portfolio
    </h1>
    <nav>
      <ul class="flex items-center gap-x-8">
        <li>
          <a
            title="LinkedIn"
            href="https://www.linkedin.com/in/jhanviloria/"
            target="_blank"
            rel="noreferrer"
          >
            <LinkedIn />
          </a>
        </li>
        <li>
          <a
            title="GitHub"
            href="https://github.com/jhanca-vm"
            target="_blank"
            rel="noreferrer"
          >
            <GitHub />
          </a>
        </li>
        <li>
          <a
            title="Twitter"
            href="https://twitter.com/jhanca_vm"
            target="_blank"
            rel="noreferrer"
          >
            <Twitter />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
