---
import { Image } from 'astro:assets'
import profile from '../assets/profile.png'

interface Props {
  description: string
}
---

<section
  class:list={[
    'pt-9 px-6 bg-linear-to-b from-red-500/5 to-amber-500/5 sm:pt-12 sm:px-9',
    'md:px-12 xl:pt-18'
  ]}
>
  <div class="max-w-6xl mx-auto flex gap-6 xl:gap-12 max-xl:flex-col">
    <div class="max-w-prose">
      <hgroup class="font-semibold">
        <p class="mb-3 text-lg text-pretty">
          ¡Hola! Soy Jhan Carlos Viloria Murillo
        </p>
        <h1 class="text-3xl text-balance md:text-5xl/tight">
          Programador de aplicaciones de software
        </h1>
      </hgroup>
      <p class="mt-6 text-slate-700">
        {Astro.props.description}
      </p>
    </div>
    <figure class="max-w-96 xl:mx-auto">
      <Image
        class="grayscale-25 drop-shadow-md mask-l-from-60%"
        src={profile}
        alt=""
        priority
      />
    </figure>
  </div>
</section>
