---
import { t } from 'i18next'
import Container from './Container.astro'
import Links from './Links.astro'
---

<Container class="hero" backgroundColor="rgb(var(--color-200))">
  <div>
    <p>{t('hero.title')}</p>
    <p>{t('hero.description')}</p>
    <Links />
  </div>
  <img src="/images/illustration.webp" alt="" width="500" height="470" />
</Container>

<style lang="scss">
  div {
    align-self: center;

    @media (min-width: 640px) and (max-width: 767px) {
      justify-self: center;
      max-width: 40rem;
      text-align: center;
    }
  }

  p {
    max-width: 45rem;

    &:first-of-type {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.6;
    }

    &:last-of-type {
      font-weight: 500;
      line-height: 1.75;
      margin-top: 1rem;
      opacity: 0.8;
    }

    @media (min-width: 768px) {
      &:first-of-type {
        font-size: 2.4rem;
      }

      &:last-of-type {
        font-size: 1.8rem;
      }
    }
  }

  img {
    filter: drop-shadow(4px 4px 12px rgba(var(--color-400), 0.2));
    justify-self: flex-end;

    @media (min-width: 640px) and (max-width: 767px) {
      display: none;
    }
  }

  .hero {
    display: grid;

    @media (min-width: 1024px) {
      column-gap: 5.6rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
