---
interface Props {
  class?: string
  to: string
  label?: string
}

const { class: className, to, label } = Astro.props
---

<a
  class={className}
  href={`https://${to}`}
  target="_blank"
  rel="noreferrer"
  aria-label={label}
>
  <slot />
</a>
