---
interface Props {
  class?: string
  to: string
}

const { class: className, to } = Astro.props
---

<a
  class:list={[className, 'transition-color hover:text-primary']}
  href={to.startsWith('/') ? to : `https://${to}`}
  target="_blank"
  rel="noreferrer"
>
  <slot />
</a>
