---
import Project from './Project.astro'
---

<section>
  <h2>Proyectos destacados</h2>
  <div>
    <Project name="En La Mano" url="enlamano.com.uy">
      Sitio web para solicitar préstamos en línea, integrado con un CMS
      personalizado (accesible desde la ruta /admin). Desarrollado con Astro,
      Tailwind CSS, React y MySQL.
    </Project>
    <Project name="Tech book club" url="techbookclub.pages.dev">
      Landing page informativa para un club de lectura, con un diseño moderno,
      desarrollada con Astro.
    </Project>
    <Project name="Coffeeroasters" url="coffeeroasters.pages.dev">
      Sitio web con sistema interactivo de suscripción para envío de café a
      domicilio. Desarrollado con Svelte y Tailwind CSS.
    </Project>
  </div>
</section>

<style>
  section {
    padding-bottom: 40px;
  }

  div {
    display: grid;
    gap: 40px 32px;
  }

  h2 {
    border-bottom: 1px solid var(--accent-color);
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
    padding-bottom: 20px;
    @media (width >= 540px) {
      font-size: 28px;
    }
  }
</style>
