---
import { Image } from 'astro:assets'
import capitalize from 'just-capitalize'

const images = await Astro.glob('../assets/*.jpg')

const projects = [
  { id: 'coffeeroasters', url: 'https://coffeeroasters.jhanca-vm.site' },
  { id: 'omanxus', url: 'https://omanxus.pages.dev/' }
]
---

<section class="my-20 sm:my-25 lg:(mt-26 mb-35)">
  <h2 class="text-10 tracking-tighter sm:text-18 lg:text-22">Projects</h2>
  <div
    class:list={[
      'mt-10 grid gap-y-10 sm:(mt-15 grid-cols-2 gap-x-6)',
      'lg:(mt-20 gap-x-7.5)'
    ]}
  >
    {
      projects.map(({ id, url }, index) => (
        <article>
          <Image src={images[index].default} alt="" />
          <h3 class="my-5 text-2xl uppercase">{capitalize(id)}</h3>
          <div class="flex gap-x-7">
            <a class="btn" href={url} target="_blank" rel="noreferrer">
              View Project
            </a>
            <a
              class="btn"
              href={`https://github.com/jhanca-vm/${id}`}
              target="_blank"
              rel="noreferrer"
            >
              View Code
            </a>
          </div>
        </article>
      ))
    }
  </div>
</section>
