---
import IconCode from '../assets/code.svg'
import IconExternalLink from '../assets/external-link.svg'
import Link from './Link.astro'

const list = [
  ['Tech book club', 'techbookclub.pages.dev'],
  ['Omanxus', 'omanxus.pages.dev']
]
---

<section>
  <h2>Proyectos destacados</h2>
  <div>
    {
      list.map(([name, url]) => {
        const id = name.toLowerCase().replaceAll(' ', '-')

        return (
          <article>
            <img src={`/images/${id}.webp`} alt="" width="512" height="320" />
            <div>
              <h3>{name}</h3>
              <Link url={`github.com/jhanca-vm/${id}`} label="Código fuente">
                <IconCode />
              </Link>
              <Link url={url} label="Sitio web">
                <IconExternalLink />
              </Link>
            </div>
          </article>
        )
      })
    }
  </div>
</section>

<style>
  h2 {
    color: var(--primary-color);
    font-size: 24px;
    line-height: 1;
    margin-bottom: 36px;
    @media (width >= 540px) {
      font-size: 28px;
    }
  }

  section > div {
    display: grid;
    gap: 40px 32px;
    @media (width >= 1280px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  article div {
    align-items: center;
    display: flex;
    gap: 16px;
    padding: 8px 8px 0;
  }

  h3 {
    flex-grow: 1;
    font-weight: 600;
    @media (width >= 540px) {
      font-size: 20px;
    }
  }

  img {
    border-radius: 8px;
    width: 100%;
  }

  svg {
    height: 20px;
  }
</style>
