---
import healthy from '../assets/healthy.webp'
import enLaMano from '../assets/en-la-mano.webp'
import techBookClub from '../assets/tech-book-club.webp'
import IconLink from '../assets/icons/link.svg'
import IconCode from '../assets/icons/code.svg'
import Image from './Image.astro'
import Link from './Link.astro'

const data: [ImageMetadata, string, string, string][] = [
  [
    healthy,
    'Sitio web de recetas saludables.',
    'healthy-jvm.vercel.app',
    'healthy'
  ],
  [
    enLaMano,
    'Sitio web para solicitar préstamos en línea.',
    'enlamano.com.uy',
    'en-la-mano'
  ],
  [
    techBookClub,
    'Landing page desarrollada con Astro.',
    'techbookclub.pages.dev',
    'tech-book-club'
  ]
]
---

<section class="max-w-5xl mt-24 mx-auto px-6 sm:px-10">
  <h2
    class="mb-14 flex items-center gap-6 font-display font-medium text-4xl/none"
  >
    Proyectos destacados
    <span class="h-0.5 grow bg-primary"></span>
  </h2>
  <div class="grid gap-10 md:grid-cols-2">
    {
      data.map(([image, description, url, id]) => (
        <article class="relative">
          <figure>
            <Image class="w-full rounded-2xl shadow-sm" metadata={image} />
          </figure>
          <div
            class:list={[
              'absolute inset-0 z-10 flex flex-col py-4 px-6 rounded-2xl',
              'bg-secondary/15 bg-radial-[at_25%_25%] to-accent/95 to-75%'
            ]}
          >
            <div class="-mr-2 flex flex-col gap-2 self-end text-accent">
              <Link
                class:list={[
                  'size-8 flex bg-primary rounded-full shadow-xs',
                  'ring-secondary transition-shadow hover:ring-1'
                ]}
                to={url}
                label="Sitio web"
              >
                <IconLink class="w-4 m-auto" aria-hidden="true" />
              </Link>
              <Link
                class:list={[
                  'size-8 flex bg-primary rounded-full shadow-xs',
                  'ring-secondary transition-shadow hover:ring-1'
                ]}
                to={`github.com/jhanca-vm/${id}`}
                label="Repositorio"
              >
                <IconCode class="w-4 m-auto" aria-hidden="true" />
              </Link>
            </div>
            <p class="mt-auto font-display font-normal text-2xl/none tracking-wide">
              {description}
            </p>
          </div>
        </article>
      ))
    }
  </div>
</section>
