---
import healthy from '../assets/healthy.webp'
import enLaMano from '../assets/en-la-mano.webp'
import techBookClub from '../assets/tech-book-club.webp'
import coffeeroasters from '../assets/coffeeroasters.webp'
import IconLink from '../assets/icons/link.svg'
import IconCode from '../assets/icons/code.svg'
import Image from './Image.astro'
import Link from './Link.astro'

const data: [ImageMetadata, string, string, string][] = [
  [
    healthy,
    'Sitio web de recetas saludables.',
    'healthy-jvm.vercel.app',
    'healthy'
  ],
  [
    enLaMano,
    'Sitio web para solicitar préstamos en línea.',
    'enlamano.com.uy',
    'en-la-mano'
  ],
  [
    techBookClub,
    'Landing page desarrollada con Astro.',
    'techbookclub.pages.dev',
    'tech-book-club'
  ],
  [
    coffeeroasters,
    'Sitio web desarrollado con Svelte y Tailwind CSS.',
    'coffeeroasters.pages.dev',
    'coffeeroasters'
  ]
]
---

<section class="max-w-5xl px-6 mx-auto sm:px-10">
  <h2 class="mb-10 font-display font-medium text-4xl/none">
    Proyectos destacados
  </h2>
  <div class="grid gap-10 md:grid-cols-2">
    {
      data.map(([image, description, url, id]) => (
        <article class="relative flex">
          <figure>
            <Image class="w-full rounded-l-xl" metadata={image} />
            <figcaption
              class:list={[
                'absolute bottom-0 right-0 ml-3 pt-2 pb-3 px-4 rounded-tl-xl',
                'rounded-r-xl bg-primary text-pretty leading-tight'
              ]}
            >
              {description}
            </figcaption>
          </figure>
          <div class="flex flex-col">
            <Link
              class:list={[
                'p-2 bg-secondary rounded-tr-xl transition-colors',
                'hover:bg-secondary/60'
              ]}
              to={url}
              label="Sitio web"
            >
              <IconLink class="w-4.5" aria-hidden="true" />
            </Link>
            <Link
              class:list={[
                'p-2 bg-secondary rounded-br-xl transition-colors',
                'hover:bg-secondary/60'
              ]}
              to={`github.com/jhanca-vm/${id}`}
              label="Repositorio"
            >
              <IconCode class="w-4.5" aria-hidden="true" />
            </Link>
          </div>
        </article>
      ))
    }
  </div>
</section>
