@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
    overflow-x: hidden;
  }
}

@layer components {
  .link {
    color: theme(colors.default.200);
    text-decoration: underline theme(colors.primary);
    text-underline-offset: 8px;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover {
    color: theme(colors.primary);
  }
}
