@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-weight: 100 900;
  src: url('/outfit.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
  font: inherit;
}

html {
  font-family: 'Outfit', sans-serif;
  font-size: 25%;
  height: 100%;
  line-height: 1;
  min-width: 375px;
}

body {
  background: linear-gradient(oklch(0.19 0.02 290.56), oklch(0.13 0.01 0));
  color: oklch(0.92 0.01 0);
  margin-inline: 5rem;
  font-size: 4.5rem;

  @media (width >= 640px) {
    margin-inline: 10rem;
  }
}

main {
  margin-inline: auto;
  max-width: 250rem;
}

h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  font-size: 25rem;
  font-weight: 800;
  margin-block: 15rem;
  text-align: center;

  @media (width >= 768px) {
    font-size: 30rem;
  }

  @media (width >= 1024px) {
    font-size: 35rem;
  }
}

p {
  font-weight: 300;
  line-height: 1.5;
  margin-block: 0;

  &:not(:has(strong)) {
    color: oklch(0.92 0.01 0 / 0.75);
  }
}

a {
  &:not(:hover) {
    text-decoration: none;
  }
}

.hero {
  div {
    margin-block: 20rem;
    display: grid;

    @media (width >= 640px) {
      grid-template-columns: 1fr 0.5fr 1fr;
    }
  }

  strong {
    display: block;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.experience {
  font-size: 10rem;
  line-height: 1.25;
  margin-top: 10rem;

  @media (max-width: 639px) {
    text-align: right;
  }
}

.react {
  color: oklch(0.77 0.1 214.64);
}

.next {
  color: oklch(1 0 0);
}

.astro {
  color: oklch(0.58 0.2 26.18);
}

.node {
  color: oklch(0.73 0.13 134.83);
}
